:root {
  --primary-color: #262262;
  --overlay-color: #262262;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  position: absolute;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
#desktopMenu {
  z-index: 30;
  position: absolute;
  top: 100px;
  right: 0;
  background: #262262;
  width: 200px;
  padding: 20px;
  display: none;
}
#desktopMenu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: auto;
}
#desktopMenu li {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  padding: 10px 0px;
  cursor: pointer;
  transition: all ease-out 0.5s;
}
#desktopMenu li:hover {
  background: #f8c097;
}
#desktopMenu a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}
.show {
  display: block;
}

#navbar {
  background: #262262;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-left: 2%;
  transition: all 0.7s ease-in;
  z-index: 40;
}

#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  position: absolute;
  top: 4em;
  right: 5%;
  margin-top: -45px;
  width: 2.2em;
  height: 40px;
  z-index: 500;
}

.hamburger div {
  position: relative;
  top: -0.8em;
  right: 5%;
  width: 2em;
  height: 4px;
  border-radius: 3px;
  background: #f37821;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  top: -100%;
  left: 0%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 400;
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.nav-wrapper nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
}
.nav a {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}
/**
Animations
**/
#toggle:checked + .hamburger {
  position: fixed;
}

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -4px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -4px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
#desktop {
  display: none;
}
#userdetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 18%;
}

#avatar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#username {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}

#logo:hover {
  cursor: pointer;
}
#logo img {
  height: 40px;
}

#desktop {
  display: none;
}
.down {
  color: white;
  cursor: pointer;
}
#avat {
  display: flex;
  align-items: center;
}

.iconify {
  cursor: pointer;
}
#userdetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#avatar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#avatar img {
  height: auto;
  width: 40px;
}
#username {
  padding: 0;
  margin: 0;
}
#username p {
  display: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}

#logo:hover {
  cursor: pointer;
}

#hamburger {
  color: #ffffff;
}
#desktop {
  display: none;
}
.down {
  color: white;
  transition: all .5s ease;
}
.dropdown, .rotate {
  transition: all .5s ease;
}
.rotate {
  transform: rotate(180deg);
}
.caret {
  display: none;
}
#dropDownCont {
  position: fixed;
  top: 60px;
  right: 0px;
  z-index: 100;
  background: #262262;
  width: auto;
  padding: 0px;
}
.profileDropdown {
  display: none;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.profileDropdown li {
  list-style: none;
  padding: 10px 24px;
}
.profileDropdown a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  text-decoration: none;
}
.profileDropdown a:hover {
  color: #f37821;
}
.show {
  display: flex;
}
.down {
  display: none;
}
#title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  background: #f37821;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0px;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
}
#container {
  position: absolute;
  width: 100vw;
}
#sideNavCont {
  background: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  display: flex;
}
.side-navcont {
  padding: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  display: none;
  background: #f8893a;
  padding-bottom: 20px;
}
.side-navcont li {
  padding: 10px;
  list-style: none;
  width: 100%;
  transition: all 0.5s ease-in;
}
.side-navcont li:hover {
  background: #f8c097;
  cursor: pointer;
}
.side-navcont a {
  text-decoration: none;
  color: #ffffff;
}

#category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  gap: 50px;

  position: relative;
  width: fit-content;
  height: fit-content;
  left: 8vw;
  top: 140px;
}

#category .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 100%;
}
#category .title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 140%;
  color: #f37821;
  width: 200px;
}
#category .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  color: #262262;
  height: auto;
}
#category .desc ul {
  width: 95%;
}
aside {
  display: none;
}
.iconify {
  cursor: pointer;
}

@media all and (min-width: 375px) {
  #userdetails {
    right: 16%;
  }
  #category .title {
    justify-content: space-between;
    gap: 10px;
    padding-right: 20px;
    align-items: center;
  }
  #category .title p {
    width: 260px;
  }
}
@media all and (min-width: 425px) {
  body {
    width: 100vw;
  }

  #navcta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    position: relative;
    right: 0;
  }
}
@media all and (min-width: 500px) {
  #userdetails {
    gap: 20px;
  }
  #username p {
    display: flex;
  }
  #category .title {
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
}
@media all and (min-width: 576px) {
  #navcta .register {
    display: flex;
  }
  #navcta .login {
    display: flex;
  }
}
@media al and (min-width: 600px) {
}
@media all and (min-width: 700px) {
}
@media (min-width: 768px) {
  body {
    height: auto;
  }
  #navbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
  }
  #username {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
  

  #userdetails {
    right: 12%;
  }
  #category {
    top: 200px;
  }
  #category .title {
    justify-content: flex-start;
  }
  #category .title p {
    width: 400px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 140%;
  }
}
@media all and (min-width: 992px) {
  body {
    height: auto;
  }
  #navbar {
    position: fixed;
  }
  #navcta {
    display: none;
  }
  #brandname {
    left: 90px;
  }

  #desktop {
    display: flex;
    align-items: center;
    position: absolute;
    left: 24%;
  }

  #desktop menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin-bottom: 0;
  }
  #desktop menu li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 20px;
  }
  #desktop menu a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  #desktop a:hover {
    color: #f37821;
  }

  #navbar {
    z-index: 10;
  }
  #logo img{
    height: 45px;
  }

  #userdetails {
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #username {
    height: auto;
  }
  #userdetails .notification {
    display: flex;
  }
 
  .down {
    color: white;
    display: block;
  }
  .hamburger {
    display: none;
  }

  #category .title p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 140%;
    width: 500px;
  }

  #category .desc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
  }
  #title {
    top: 120px;
  }
}
@media all and (min-width: 1200px) {
  #navbar {
    position: fixed;
  }

  aside {
    width: 30vw;
  }
  #bigContainer span {
    width: 30vw;
  }
}
@media all and (min-width: 1400px) {
  #navbar {
    position: fixed;
  }
}

@media all and (min-width: 1600) {
  #navbar {
    position: fixed;
  }
}
